[submodule "Carthage/Checkouts/SegueingInfo"]
	path = Carthage/Checkouts/SegueingInfo
	url = https://github.com/adorkable/SegueingInfo.git
[submodule "Carthage/Checkouts/CocoaLumberjack"]
	path = Carthage/Checkouts/CocoaLumberjack
	url = https://github.com/CocoaLumberjack/CocoaLumberjack.git
[submodule "Library/CocoaLumberjack"]
	path = Library/CocoaLumberjack
	url = https://github.com/CocoaLumberjack/CocoaLumberjack
[submodule "Library/SegueingInfo"]
	path = Library/SegueingInfo
	url = https://github.com/Adorkable/SegueingInfo
